@use '../abstracts/variables' as *;

.about-collapses {
    display: flex;
    flex-direction: column;
    gap: $about-gap;
    max-width: $about-max-width;
    margin: 0 auto;
    margin-top: $about-top;
}
