@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.housing {
    margin-top: $housing-top;

    @include respond-to($breakpoint-desktop) {
        display: flex;
        justify-content: space-between;
        gap: $space-27;
    }

    &__title {
        font-size: $housing-font-size;
        color: $color-primary;
        font-weight: $font-weight-medium;
    }

    &__location {
        font-size: $location-font-size;
        font-weight: $font-weight-medium;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: $space-10;
        margin-top: $tags-top;
    }

    &__tag {
        display: grid;
        place-items: center;
        min-height: $tag-min-height;
        padding: $space-4 $space-16;
        color: $color-white;
        background-color: $color-primary;
        font-size: $tag-font-size;
        font-weight: $font-weight-bold;
        border-radius: $radius-small;
        text-align: center;

        @include respond-to($breakpoint-desktop) {
            border-radius: $radius-medium;
        }
    }

    &__meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: $space-16;
        padding: $space-15 0;

        @include respond-to($breakpoint-desktop) {
            flex-direction: column-reverse;
            align-items: flex-end;
            gap: $space-27;
            padding: 0 0 $space-30;
        }
    }

    &__host {
        display: flex;
        align-items: center;
        gap: $space-11;
        margin: 0;
    }

    &__hostname {
        font-size: $host-font-size;
        color: $color-primary;
        font-weight: $font-weight-medium;
        text-align: right;
    }

    &__avatar {
        width: $host-avatar-size;
        height: $host-avatar-size;
        object-fit: cover;
        border-radius: $radius-circle;
    }

    &__ratings {
        display: flex;
        gap: $space-2;

        @include respond-to($breakpoint-desktop) {
            gap: $space-4;
        }
    }

    &__star {
        width: $star-size;
    }

    &__collapses {
        display: flex;
        flex-direction: column;
        gap: $space-20;

        @include respond-to($breakpoint-desktop) {
            flex-direction: row;
            gap: $space-64;
        }
    }

    &__collapse {
        width: 100%;
    }
}
