@use '../abstracts/variables' as *;
@use "../abstracts/mixins" as *;

.banner {
    display: flex;
    align-items: center;
    padding-left: 1.25rem;
    min-height: $banner-height;
    background-size: max(100%, $banner-image-width);
    background-position: $banner-position;
    background-repeat: no-repeat;
    border-radius: $radius-large;
    position: relative;

    @include respond-to($breakpoint-mobile-large) {
        justify-content: center;
        padding-inline: 1.25rem;
        text-align: center;
    }

    &__title {
        font-size: $banner-font-size;
        font-weight: $font-weight-bold;
        color: $color-white;
        line-height: $line-height-tight;
        position: relative;
    }

    &__title-end {
        display: block;

        @include respond-to($breakpoint-desktop) {
            display: inline;
        }
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: $home-overlay;
        border-radius: inherit;
    }

    &--about::before {
        background: $about-overlay;
    }
}
