@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.card-list {
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(min(100%, $gallery-card-min), 1fr));
    gap: $gallery-gap-y $gallery-gap-x;
    padding: $gallery-padding;
    margin-top: $gallery-top;

    @include respond-to($breakpoint-desktop) {
        background-color: $color-background-light;
        border-radius: $radius-large;
    }
}
