@use '../abstracts/variables' as *;

.collapse {

    &__button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: $color-primary;
        min-height: $collapse-min-height;
        padding: 0 $collapse-padding-x;
        border-radius: $radius-small;
        color: $color-white;
        font-size: $collapse-font-size;
        font-weight: $font-weight-bold;
    }

    &__arrow {
        transition: transform 200ms ease-out;
    }

    &__content {
        max-height: 0;
        overflow: hidden;
        padding: 0 $space-20;
        background-color: $color-background-light;
        font-size: $font-size-body;
        font-weight: $font-weight-regular;
        transition:
            max-height 200ms ease-out,
            padding 200ms ease-out;
    }

    &--open &__content {
        max-height: 1000px;
        padding: $space-20 $space-20;
    }

    &--open &__arrow {
        transform: rotate(-180deg);
    }
}
