@use '../abstracts/variables' as *;
@use "../abstracts/mixins" as *;

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $space-20;
    min-height: $footer-min-height;
    background-color: $color-black;
    color: $color-white;
    text-align: center;

    &__logo {
        display: block;
        width: $footer-logo-width;
        height: auto;
    }

    &__text {
        font-size: $footer-font-size;
    }

    &__line-break {
        display: block;
    }

    @include respond-to($breakpoint-mobile-large) {

        &__line-break {
            display: none;
        }
    }
}
