@use '../abstracts/variables' as *;
@use "../abstracts/mixins" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $header-padding-mobile;

    @include respond-to($breakpoint-desktop) {
        padding: $header-padding-desktop;
    }

    &__logo {
        width: $header-logo-width;
    }

    &__list {
        display: flex;
        gap: $header-navigation-gap;
    }

    &__link {
        font-size: $font-size-navigation;
        font-weight: $font-weight-medium;
        text-transform: uppercase;

        @include respond-to($breakpoint-desktop) {
            text-transform: none;
        }

        &.active {
            text-decoration: underline;
        }
    }
}
